{% extends 'template.html.twig' %}

{% block content %}
    <!-- Current Row -->

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default bg-gray">
                <div class="box-header with-border">
                    Refusals Committees' Data by Cluster, Latest/Selected Campaign
                    <!-- Help Icon -->
                    <a data-toggle="popover" data-container="body" class="pull-right btn-sm btn-info"
                       data-placement="left" type="button" data-html="true"
                       href="#" id="help">
                        <i class="fa fa-question-circle"></i>
                    </a>
                    <!-- Popover Help Contents -->
                    <div id="popover-content-help" class="hide">
                        <div>
                            <h5>Indicators and calculations descriptions:</h5>
                            <p> By Default the cluster level trends table shows total missed children in absolute numbers.
                                The benchmark for the color coding is defined in the bottom of the table. To see percentage
                                of the missed children out of the target, filter it in the filter menu in the top-left corner of the table.
                                For percentage calculation the target is <b style="color:dodgerblue">"vaccinated children + missed children"</b> in a cluster. And you can
                                see the color coding benchmark for the percentages in the bottom of the table as well. <br>
                                In the left chart, Discrepancy <span style="color:gray">(gray color)</span>
                                is the difference of tally-sheet data and ICN register book data.
                            </p>
                        </div>
                    </div>
                    <input type="hidden" id="ajaxUrl"
                           data-district="{{ district }}"
                           value="{{ ajaxUrl }}"
                           data-source="{{ source }}"/>

                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-info box">
                                        <div class="box-body">
                                            <span class="filter-loading loader-small info-loader"></span>
                                            <div id="refusal_recovery_table_1" style="min-height: 400px;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default bg-gray-light">
                <div class="box-header with-border">
                    {{ pageTitle }}
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="box-warning box">
                                        <div class="box-body">
                                            <div class="btn-group dropdown-filter">
                                                <button type="button" class="btn btn-default btn-sm"><i class="fa fa-filter"></i></button>
                                                <button type="button" class="btn btn-default btn-sm dropdown-toggle"
                                                        data-toggle="dropdown" aria-expanded="false">
                                                    <span class="caret"></span>
                                                    <span class="sr-only">Toggle Dropdown</span>
                                                </button>
                                                <ul class="dropdown-menu" role="menu">
                                                    <li><a href="#" data-type="totalRefusalVacByRefComm"
                                                           class="filter-heatmap">Total Vaccinated Refusals By Committees</a></li>
                                                    <li><a href="#" data-type="refusalVacByCRC" class="filter-heatmap">Vaccinated By Cluster Refusal Committee</a></li>
                                                    <li><a href="#" data-type="refusalVacByRC" class="filter-heatmap">Vaccinated By Religious Committee</a></li>
                                                    <li><a href="#" data-type="refusalVacByCIP" class="filter-heatmap">Vaccinated By CIP</a></li>
                                                    <li><a href="#" data-type="refusalVacBySenior" class="filter-heatmap">Vaccinated By Senior Staff</a></li>
                                                    <li><a href="#" data-type="totalRemainingRefusal" class="filter-heatmap">Final Remaining Refusals</a></li>
                                                    <li class="divider"></li>
                                                    <li><a href="#" data-type="totalRefusalVacByRefCommPer"
                                                           class="filter-heatmap">% Refusals Vaccinated By Refusal Committees</a></li>
                                                    <li><a href="#" data-type="chpVacRefusalPer" class="filter-heatmap">% Refusals Vaccinated in Catchup</a></li>
                                                    <li><a href="#" data-type="totalVacRefusalPer" class="filter-heatmap">% of Final Vaccinated Refusals</a></li>
                                                    <li><a href="#" data-type="totalRemainingRefusalPer" class="filter-heatmap">% of Final Remaining Refusals</a></li>
                                                </ul>
                                                <a href="#benchmark" data-toggle="tooltip" title="click here to know about benchmark"
                                                   class="badge bg-blue"
                                                   style="top:4px; left:4px; display: inline-block; position: relative">
                                                    <i class="fa fa-info"></i>&nbsp;
                                                </a>
                                            </div>
                                            <span class="filter-loading loader-small trend-loader"></span>
                                            <div id="cluster_trend" style="min-height: 400px;"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block header %}
    {% embed 'shared/header.html.twig' %}
        {% block filter %}
            {{ render(controller(
            'App\\Controller\\Ajax\\AjaxFilterController:clusterFilterAction',
                { 'source': source, 'district': district }
            ))
            }}
        {% endblock %}
    {% endembed %}
{% endblock %}

{% block js %}
    {{ parent() }}
    <script src="{{ asset('build/cluster-filter.js') }}"></script>
{% endblock %}