{% extends 'basic.html.twig' %}

    {% block title %}Login{% endblock %}
    {% block body_class %}login-page{% endblock %}
    {% block body %}
    <div class="login-box">
        <div class="login-logo">
            <a href="#"><b>Polio</b>DB</a>
        </div>
        <!-- /.login-logo -->
        <div class="login-box-body">
                <p class="login-box-msg">Sign in to start your session</p>
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}

                    {% if app.user %}
                        <div class="mb-3">
                            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
                        </div>
                    {% endif %}

                    <div class="form-group has-feedback">
                        <input type="text" name="username" id="inputUsername" class="form-control"
                               placeholder="Username" required autofocus value="{{ last_username }}">
                        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                    </div>

                    <div class="form-group has-feedback">
                        <input type="password" name="password" id="inputPassword" class="form-control" required
                        placeholder="Password">
                        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >

                    {#
                        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                        See https://symfony.com/doc/current/security/remember_me.html

                        <div class="checkbox mb-3">
                            <label>
                                <input type="checkbox" name="_remember_me"> Remember me
                            </label>
                        </div>
                    #}
                    <div class="row">
                        <div class="col-xs-8">
                            <div class="checkbox icheck">
                                <label>
                                    <input type="checkbox" id="remember_me" name="_remember_me" checked> Remember Me
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block btn-flat">Sign In</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>
                <br>
                <p class="mb-1">
                    <a href="#">I forgot my password</a>
                </p>
                <p class="mb-0">
                    <a href="#" class="text-center">Request for membership</a>
                </p>
        </div>
        <!-- /.login-box-body -->
    </div>
{% endblock %}
{% block js %}
    {{ parent() }}
    <script src="{{ asset('build/login.js') }}"></script>
{% endblock %}

