{% extends 'template.html.twig' %}

{% block content %}
    <h1>Bphsindicator</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bphsIndicator.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ bphsIndicator.name }}</td>
            </tr>
            <tr>
                <th>Shortname</th>
                <td>{{ bphsIndicator.shortName }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if bphsIndicator.createdAt %}{{ bphsIndicator.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bphs_indicator_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bphs_indicator_edit', { 'id': bphsIndicator.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
