{% extends 'template.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Campaigns</h3>
                <a href="{{ path("campaign_new") }}" class="btn btn-sm btn-info pull-right">
                    <i class="fa fa-plus"></i> New Campaign
                </a>
            </div>
            <div class="box-body">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="icon fa fa-check"></i>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <table id="campaigns" class="table table-bordered table-striped dash-dataTable"
                       data-setting="{% if tableSetting is defined %}{{ tableSetting }}{% endif %}">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Type</th>
                            <th>Year</th>
                            <th>Month</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for campaign in campaigns %}
                        <tr>
                            <td><a href="{{ path('campaign_show', { 'id': campaign.id }) }}">{{ campaign.id }}</a></td>
                            <td>{{ campaign.campaignName }}</td>
                            <td>
                                {% if  campaign.campaignType == "NID" %}
                                    <span class="badge bg-green">{{  campaign.campaignType }}</span>
                                {% else  %}
                                    {{  campaign.campaignType }}
                                {% endif %}
                            </td>
                            <td>{{ campaign.campaignYear }}</td>
                            <td>{{ campaign.campaignMonth }}</td>

                            <td>

                                <a class="btn btn-xs btn-info" href="{{ path('campaign_show', { 'id': campaign.id }) }}">show</a>

                                <a class="btn btn-xs btn-warning" href="{{ path('campaign_edit', { 'id': campaign.id }) }}">edit</a>

                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block breadcrumb %}
    <h1>
        List
        <small> of campaigns</small>
    </h1>
    <ol class="breadcrumb">

        <li>
            <a href="{{ path("home") }}">
                <i class="fa fa-home"></i>
                Home
            </a>
        </li>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {{ app.user.username }} |

            <li>
                <a href="{{ path('app_logout') }}">
                    <i class="fa fa-sign-out"></i>
                    Logout
                </a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('app_login') }}">
                    <i class="fa fa-sign-in"></i>
                    Login
                </a>
            </li>

        {% endif %}

    </ol>
{% endblock %}

