{% extends 'template.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">Add a new campaign!</h3>
                </div>

                {{ form_start(form) }}
                <div class="box-body">

                    {% block form_errors %}
                        {% if not form.vars.valid %}
                            <div class="alert alert-danger alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <h4><i class="icon fa fa-ban"></i> Form Errors!</h4>

                                <ul>
                                    {#Loop through every form item#}
                                    {% for child in form.children %}
                                        {#Display the errors of the form item#}
                                        {%for error in child.vars.errors%}
                                            <li>{{ child.vars.label }}: {{error.message}}</li>
                                        {%endfor%}
                                    {%endfor%}
                                </ul>
                                {#{{ form_errors(form) }}#}

                            </div>
                        {% endif %}
                    {% endblock form_errors %}

                    <div class="row">
                        <div class="col-md-6">

                            <div class="form-group {{ form_errors(form.campaignName)|length > 0 ? 'has-error' : '' }}">
                                {{ form_label(form.campaignName) }}
                                {{ form_widget(form.campaignName, {'attr':{'tabindex':1}}) }}
                            </div>


                            <div class="form-group {{ form_errors(form.campaignType)|length > 0 ? 'has-error' : '' }}">
                                {{ form_label(form.campaignType) }}
                                {{ form_widget(form.campaignType, {'attr':{'tabindex':2}}) }}
                            </div>


                            <div class="form-group {{ form_errors(form.campaignStartDate)|length > 0 ? 'has-error' : '' }}">
                                {{ form_label(form.campaignStartDate) }}
                                {{ form_widget(form.campaignStartDate, {'attr':{'tabindex':3}}) }}
                            </div>


                            <div class="form-group {{ form_errors(form.campaignEndDate)|length > 0 ? 'has-error' : '' }}">
                                {{ form_label(form.campaignEndDate) }}
                                {{ form_widget(form.campaignEndDate, {'attr':{'tabindex':4}}) }}
                            </div>

                            <div class="form-group {{ form_errors(form.campaignYear)|length > 0 ? 'has-error' : '' }}">
                                {{ form_label(form.campaignYear) }}
                                {{ form_widget(form.campaignYear,{'attr':{'tabindex':5, 'style':'width:100%'}}) }}
                            </div>

                            <div class="form-group {{ form_errors(form.campaignMonth)|length > 0 ? 'has-error' : '' }}">
                                {{ form_label(form.campaignMonth) }}
                                {{ form_widget(form.campaignMonth,{'attr':{'tabindex':5, 'style':'width:100%'}}) }}
                            </div>

                            <div class="form-group {{ form_errors(form.campaignSortNo)|length > 0 ? 'has-error' : '' }}">
                                {{ form_label(form.campaignSortNo) }}
                                {{ form_widget(form.campaignSortNo,{'attr':{'tabindex':5, 'style':'width:100%'}}) }}
                            </div>
                            <!-- /.form-group -->
                        </div>

                    </div>
                    {#{% endblock form_row %}#}
                    <div class="row">
                        <div class="col-md-4">
                            <input type="submit" tabindex="13" class="btn btn-info" value="Create" />
                            <a href="{{ path('campaign_index') }}" class="btn btn-default">
                                <i class="fa fa-mail-reply"></i> Go Back!
                            </a>
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>
{% endblock %}