{% extends 'template.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Import data from data files</h3>

                    <a href="{{ path("download_template", {'entity': entity}) }}" class="btn btn-sm btn-info pull-right">
                        <i class="fa fa-download"></i> Template
                    </a>
                </div>
                <!-- /.box-header -->
                {#{% for label, messages in app.flashes %}#}
                {#{% for message in messages %}#}

                {#{{ message }}#}

                {#{% endfor %}#}
                {#{% endfor %}#}
                <div class="box-body">
                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="icon fa fa-info"></i>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}
                    <div class="callout callout-info">
                        <h4>Instructions!</h4>

                        <p>Before uploading, make sure you have the clean data in a correct template (or download one from this page) with a header row</p>
                        <ul>
                            <li>
                                Make sure your file is in .xlsx, .xls or .csv format
                            </li>
                            <li>
                                Make sure that all columns' data is in the correct type (i.e. number, text, or date), otherwise that row will be escaped.
                            </li>
                            <li>
                                If the file is too big (more then 1MB), would be good to upload it in small chunks
                            </li>
                            <li>
                                After uploading there will 2 more steps, first you have to match the columns in the uploaded file with the columns in the Database.
                                and next you have to sync the uploaded data with Master table.
                            </li>
                            <li>
                                It will strictly check if the uploading data is already existed (if yes, the system will updated that)
                            </li>
                        </ul>
                    </div>


                    <div class="row">
                        {% block form_errors %}
                            {% if not form.vars.valid %}
                                <div class="col-md-12">
                                <div class="alert alert-danger alert-dismissible">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                    <h4><i class="icon fa fa-ban"></i> Upload Errors!</h4>

                                    <ul>
                                        {#Loop through every form item#}
                                        {% for child in form.children %}
                                            {#Display the errors of the form item#}
                                            {%for error in child.vars.errors%}
                                                <li>{{error.message}}</li>
                                            {%endfor%}
                                        {%endfor%}
                                    </ul>
                                    {#{{ form_errors(form) }}#}

                                </div>
                                </div>
                            {% endif %}
                        {% endblock form_errors %}

                        {{ form_start(form) }}
                        <div class="col-md-6">

                            <div class="form-group {{ form_errors(form.importedFile)|length > 0 ? 'has-error' : '' }}">
                                {{ form_label(form.importedFile) }}
                                {{ form_widget(form.importedFile, {'attr':{'tabindex':1}}) }}
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <button type="submit" class="btn btn-success pull-right">
                                    <i class="fa fa-upload"></i>
                                    Upload
                                </button>
                            </div>
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
{% block title %}Uploading Data{% endblock %}