{% extends 'template.html.twig' %}

{% block title %}BphsHfIndicator index{% endblock %}

{% block content %}
    <h1>BphsHfIndicator index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Province</th>
                <th>District</th>
                <th>Facility</th>
                <th>Indicator</th>
                <th>AnnualTarget</th>
                <th>MonthlyTarget</th>
                <th>TargetYear</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bphs_hf_indicator in bphs_hf_indicators %}
            <tr>
                <td>{{ bphs_hf_indicator.healthFacility.district.province.provinceName }}</td>
                <td>{{ bphs_hf_indicator.healthFacility.district.districtName }}</td>
                <td>{{ bphs_hf_indicator.healthFacility.facilityName }}</td>
                <td>{{ bphs_hf_indicator.indicator.name }}</td>
                <td>{{ bphs_hf_indicator.annualTarget }}</td>
                <td>{{ bphs_hf_indicator.monthlyTarget }}</td>
                <td>{{ bphs_hf_indicator.targetYear }}</td>
                <td>
                    <a href="{{ path('bphs_hf_indicator_show', {'id': bphs_hf_indicator.id}) }}">show</a>
                    <a href="{{ path('bphs_hf_indicator_edit', {'id': bphs_hf_indicator.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bphs_hf_indicator_new') }}">Create new</a>
{% endblock %}
