{% extends 'template.html.twig' %}

{% block title %}Facilities & Indicators{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Facilities' Indicators</h3>
                    <a href="{{ path("bphs_hf_indicator_new") }}" class="btn btn-sm btn-info pull-right">
                        <i class="fa fa-plus"></i> Assign Indicator to Facility
                    </a>
                </div>

                <div class="box-body">

                    {% for label, messages in app.flashes %}
                        {% for message in messages %}
                            <div class="alert alert-{{ label }} alert-dismissible">
                                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                                <i class="icon fa fa-check"></i>
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endfor %}

                    <table id="health-facility" class="table table-bordered table-striped dash-dataTable table-responsive"
                           data-setting="{% if tableSetting is defined %}{{ tableSetting }}{% endif %}">
                        <thead>
                        <tr>
                            <th>Year</th>
                            <th>Region</th>
                            <th>Province</th>
                            <th>District</th>
                            <th>Facility</th>
                            <th>Indicator</th>
                            <th>Cumulative Reach</th>
                            <th>Annual Target</th>
                            <th>Monthly Target</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for hfIndicator in bphs_hf_indicators %}
                            <tr>
                                <td>{{ hfIndicator.targetYear }}</td>
                                <td>{{ hfIndicator.healthFacility.district.province.provinceRegion }}</td>
                                <td>{{ hfIndicator.healthFacility.district.province.provinceName }}</td>
                                <td>{{ hfIndicator.healthFacility.district.districtName }}</td>
                                <td>{{ hfIndicator.healthFacility.facilityName }}</td>
                                <td>{{ hfIndicator.indicator.name }}</td>
                                <td>
                                    {% set reach = 0 %}
                                    {% for indicatorReach in hfIndicator.indicatorReaches %}
                                    {% set reach = reach + indicatorReach.reach %}
                                    {% endfor %}
                                    {{ reach|number_format(0, ',') }}
                                </td>
                                <td>{{ hfIndicator.annualTarget|number_format(0, ",") }}</td>
                                <td>{{ hfIndicator.monthlyTarget|number_format(0, ",") }}</td>
                                <td>
                                    <a class="btn btn-xs btn-info" href="{{ path('bphs_hf_indicator_show', { 'id': hfIndicator.id }) }}">show</a>

                                    <a class="btn btn-xs btn-warning" href="{{ path('bphs_hf_indicator_edit', { 'id': hfIndicator.id }) }}">edit</a>

                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
