{% extends 'control-template.html.twig' %}

{% block title %}Facility - Indicator{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-6">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-aqua-active">
                    <!-- /.widget-user-image -->
                    <h3 class="widget-user-username">{{ bphs_hf_indicator.healthFacility }} --- {{ bphs_hf_indicator.indicator }}</h3>

                    <h5 class="widget-user-desc">
                        Province: {{ bphs_hf_indicator.healthFacility.district.province.provinceName }},
                        District: {{ bphs_hf_indicator.healthFacility.district.districtName }}
                    </h5>
                    <h5 class="widget-user-desc">Annual Target: {{ bphs_hf_indicator.annualTarget }}</h5>
                </div>
                <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                        <li><a href="#">Target Year <span class="pull-right badge bg-maroon-active">{{ bphs_hf_indicator.targetYear }}</span></a></li>
                        <li><a href="#">Record Created By <span class="pull-right badge bg-red">{{ bphs_hf_indicator.createdBy.fullName }}</span></a></li>
                        <li><a href="#">Record Created At <span class="pull-right badge ">{{ bphs_hf_indicator.createdAt|date('d/M/Y H:i:s') }}</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="{{ path('bphs_hf_indicator_index') }}" class="btn btn-primary"><i class="fa fa-reply"></i> Back</a>

        <a href="{{ path('bphs_hf_indicator_edit',
            {'id': bphs_hf_indicator.id}) }}" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
    </div>

    <div style="margin-left: -10px">
        {{ include('bphs_plus/bphshfindicator/_delete_form.html.twig') }}
    </div>

{% endblock %}
