{% extends 'base.html.twig' %}

{% block title %}BphsIndicatorReach index{% endblock %}

{% block body %}
    <h1>BphsIndicatorReach index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reach</th>
                <th>ReportMonth</th>
                <th>ReportYear</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bphs_indicator_reach in bphs_indicator_reaches %}
            <tr>
                <td>{{ bphs_indicator_reach.id }}</td>
                <td>{{ bphs_indicator_reach.reach }}</td>
                <td>{{ bphs_indicator_reach.reportMonth }}</td>
                <td>{{ bphs_indicator_reach.reportYear }}</td>
                <td>{{ bphs_indicator_reach.updatedAt ? bphs_indicator_reach.updatedAt|date('Y-m-d H:i:s T') : '' }}</td>
                <td>
                    <a href="{{ path('bphs_indicator_reach_show', {'id': bphs_indicator_reach.id}) }}">show</a>
                    <a href="{{ path('bphs_indicator_reach_edit', {'id': bphs_indicator_reach.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('bphs_indicator_reach_new') }}">Create new</a>
{% endblock %}
