{% extends 'template.html.twig' %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        <div class="box box-primary">
            <div class="box-header">
                <h3 class="box-title">Health Facilities</h3>
                <a href="{{ path("bphs_hf_new") }}" class="btn btn-sm btn-info pull-right">
                    <i class="fa fa-plus"></i> New Facility
                </a>
            </div>

            <div class="box-body">

                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            <i class="icon fa fa-check"></i>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <table id="health-facility" class="table table-bordered table-striped dash-dataTable table-responsive"
           data-setting="{% if tableSetting is defined %}{{ tableSetting }}{% endif %}">
        <thead>
            <tr>
                <th>Code</th>
                <th>Region</th>
                <th>Province</th>
                <th>District</th>
                <th>Facility</th>

                <th>Created At</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bphsHealthFacility in bphsHealthFacilities %}
            <tr>
                <td><a href="{{ path('bphs_hf_show', {'id': bphsHealthFacility.id}) }}">{{ bphsHealthFacility.id }}</a></td>
                <td>{{ bphsHealthFacility.district.province.provinceRegion }}</td>
                <td>{{ bphsHealthFacility.district.province.provinceName }}</td>
                <td>{{ bphsHealthFacility.district.districtName }}</td>
                <td>{{ bphsHealthFacility.facilityName }}</td>

                <td>{{ bphsHealthFacility.createdAt|date('d/M/Y') }}</td>
                <td>
                    <a class="btn btn-xs btn-info" href="{{ path('bphs_hf_show', { 'id': bphsHealthFacility.id }) }}">show</a>

                    <a class="btn btn-xs btn-warning" href="{{ path('bphs_hf_edit', { 'id': bphsHealthFacility.id }) }}">edit</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
