{% extends 'template.html.twig' %}

{% block content %}
    <h1>Bphshealthfacilities list</h1>

    <table>
        <thead>
            <tr>
                <th>Province</th>
                <th>District</th>
                <th>Health Facility</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bphsHealthFacility in bphsHealthFacilities %}
            <tr>
                <td>{{ bphsHealthFacility.district.province.provinceName }}</td>
                <td>{{ bphsHealthFacility.district.districtName }}</td>
                <td>{{ bphsHealthFacility.facilityName }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bphs_hf_show', { 'id': bphsHealthFacility.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bphs_hf_edit', { 'id': bphsHealthFacility.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bphs_hf_new') }}">Create a new bphsHealthFacility</a>
        </li>
    </ul>
{% endblock %}
