{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bphshealthfacility</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bphsHealthFacility.id }}</td>
            </tr>
            <tr>
                <th>Facilityname</th>
                <td>{{ bphsHealthFacility.facilityName }}</td>
            </tr>
            <tr>
                <th>Facilityshortname</th>
                <td>{{ bphsHealthFacility.facilitySlug }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if bphsHealthFacility.createdAt %}{{ bphsHealthFacility.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bphs_hf_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('bphs_hf_edit', { 'id': bphsHealthFacility.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
