{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bphsindicatorreaches list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Reportmonth</th>
                <th>Reportyear</th>
                <th>Createdat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for bphsIndicatorReach in bphsIndicatorReaches %}
            <tr>
                <td><a href="{{ path('bphs_indicator_reach_show', { 'id': bphsIndicatorReach.id }) }}">{{ bphsIndicatorReach.id }}</a></td>
                <td>{{ bphsIndicatorReach.reportMonth }}</td>
                <td>{{ bphsIndicatorReach.reportYear }}</td>
                <td>{% if bphsIndicatorReach.createdAt %}{{ bphsIndicatorReach.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('bphs_indicator_reach_show', { 'id': bphsIndicatorReach.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('bphs_indicator_reach_edit', { 'id': bphsIndicatorReach.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('bphs_indicator_reach_new') }}">Create a new bphsIndicatorReach</a>
        </li>
    </ul>
{% endblock %}
