<nav class="navbar navbar-static-top" role="navigation">
    <!-- Sidebar toggle button-->
    <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
    </a>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
            {% block filter %}
            {% endblock %}
            <!-- User Account Menu -->
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li class="dropdown user user-menu">
                <!-- Menu Toggle Button -->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <!-- The user image in the navbar-->
                    {#<img src="{{ asset('template/dist/img/user2-160x160.jpg') }}" class="user-image" alt="User Image">#}
                    <!-- hidden-xs hides the username on small devices so only the image appears. -->
                    <span class="hidden-xs">
                        <i class="fa fa-user"></i>
                        {{ app.user.fullName }}
                    </span>
                </a>
                <ul class="dropdown-menu">
                    <!-- The user image in the menu -->
                    <li class="user-header">
                        {#<img src="{{ asset('template/dist/img/user2-160x160.jpg') }}" class="img-circle" alt="User Image">#}

                        <p>


                            {{ app.user.fullName }}

                            <small>{{ app.user.jobTitle }}</small>
                            <small>{{ app.user.email }}</small>

                        </p>
                    </li>

                    <!-- Menu Footer-->
                    <li class="user-footer">

                        <div class="pull-left">
                            <a href="#" class="btn btn-default btn-flat">Profile</a>
                        </div>
                        <div class="pull-right">
                            <a href="{{ path('app_logout') }}" class="btn btn-default btn-flat">Sign out</a>
                        </div>

                    </li>
                </ul>
            </li>
            {% endif %}
            <!-- Control Sidebar Toggle Button -->
            {% if is_granted('ROLE_EDITOR') %}
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>