    <h1>
        {{ knp_menu_get_current_item('side').label }}
        <small>{{ knp_menu_get_current_item('side').getExtra('info')}}</small>
    </h1>
    <ol class="breadcrumb">
                {% for breadcrumb_item in knp_menu_get_breadcrumbs_array(knp_menu_get_current_item('side')) %}
                {% if not loop.last %}
                    {% if not loop.last and not loop.first %}
                    <li>
                        <a href="{{ breadcrumb_item.uri }}">
                            <i class="fa {{ breadcrumb_item.item.getAttribute('icon') }} "></i>
                            {{ breadcrumb_item.label }}
                        </a>
                    </li>
                    {% endif %}
                {% else %}
                    <li class="active">
                        <i class="fa {{ breadcrumb_item.item.getAttribute('icon') }} "></i>
                        {{ breadcrumb_item.label }}
                    </li>
                {% endif %}
            {% endfor %}

        {#<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>#}
        {#<li class="active">Here</li>#}
    </ol>