{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>JobTitle</th>
                <td>{{ user.jobTitle }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ user.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ user.city }}</td>
            </tr>
            <tr>
                <th>MobileNo</th>
                <td>{{ user.mobileNo }}</td>
            </tr>
            <tr>
                <th>HasApiAccess</th>
                <td>{{ user.hasApiAccess ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>LastPasswordChangeAt</th>
                <td>{{ user.lastPasswordChangeAt ? user.lastPasswordChangeAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>AccountCreatedAt</th>
                <td>{{ user.accountCreatedAt ? user.accountCreatedAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ user.enabled ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}
